html
    head
        title Hello World
        link(rel="stylesheet", href="stylesheets/style.css")
    body
        p Master block
        hr
        ul#Navigation
            li
                a(href="/") Home
            li
                a(href="/products") Products
            li
                a(href="/contactus") contactus

        block content
        hr
        block footer
